<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">Contact</h3>
            </div>
            <div class="m-60">
                <h3>Location</h3>
                <p>Woodward Hall, 8812 Craver Rd, Charlotte, NC 28223</p>

                <h3>Office hours</h3>
                <p>8:00 AM – 4:00 PM EST</p>
                <p>Monday – Friday</p>

                <h3>Contact us</h3>
                <p>Phone: 9803821616</p>
                <p>Email: rkumar11@uncc.edu</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
