<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="m-80">
                <p>Welcome to theTradeDesk.</p>
                <p>TradeDesk is a platform to exchange goods in return of goods. People use TradeDesk to exhange their furniture, books, their sports Equipments. If you are willing to exchage some of your goods in return of some different goods you will love this website. You see the trading options available by clicking on Trade.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
